 .nopad {
        padding: 0px !important;
        }
        .nav-tabs{
        border:none;
        }
        .heading {
        font-size: 22px;
        font-family: arial;
        margin-top: 25px;
        margin-bottom: 5px;
        color: #000;
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        color: #fff;
        cursor: default;
        background-color: #1797C0;
        }
        .btn {
        min-width: 60px;
        font-family: 'proxima_nova_rgbold';
        font-size: 16px;
        color: #fff !important;
        margin-right: 10px !important;
        text-decoration: none;
        border-radius: 2px;
        line-height: 1.2;
        background: #1797c0 !important;
        border: 1px solid #027fbb;
        padding: 8px 16px 8px 16px;
        background: #0577b5 !important;
        font-family: 'Myriad Pro';
        font-size: 15px;
        margin-top: 0px;
        font-weight: bold;
        color: #fff !important;
        border-radius: 4px !important;
        margin-right: 20px;
        padding: 6px 16px !important;
        height: 36px;
        }
        .cancelbtn {
        min-width: 60px;
        font-family: 'proxima_nova_rgbold';
        font-size: 16px;
        color: #fff !important;
        margin-right: 10px !important;
        text-decoration: none;
        border-radius: 2px;
        line-height: 1.2;
        background: #8f8f8f !important;
        border: 1px solid #027fbb;
        padding: 8px 16px 8px 16px;
        }
        .nav-tabs>li>a:hover {
        border-color: #eee #eee #ddd;
        background:#1797C0;
        }
        .nav-tabs>li>a {
        margin-right: 2px;
        background: #8F8F8F;
        color:#fff;
        text-decoration:none;
        line-height: 1.01;
        }
        .SubHeading {
        font-size: 18px;
        font-family: arial;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #000;
        }
        .linecolor {
        border-top: 2px solid #1797C0;
        border-radius: 2px;
        }
        .backcolor {
        background-color: #f8f8f8;
        border-radius: 2px;
        }
        .SubheadingLeft {
        margin-top: 15px;
        //margin-left: 55px;
        word-wrap: break-word;
        padding-right:0px;
        }
        .fontsizer {
        font-size: 12px;
        //font-weight: 600;
        }jiraFields
        .homeTab .secondaryPalette, .individualPalette .homeBlock .secondaryPalette {
        /* background-color: #cfeef8; */
        border-color: #cfeef8;
        border: none;
        }
        
        .borderstyling{
        border-bottom:1px solid #eaeaea;
        padding-bottom:10px;
        }
        .pbBody table.list tr.headerRow th {
        color:#305CA7 !important;
        border:none;
        }
        @media (min-width: 320px) and (max-width: 1024px){
        .borderstyling{border-bottom:none !important;padding-bottom:0px;}
        }
        .picklistsize {
        width: 280px;
        }
        .picklistsize1 {
        width: 100px;
        }
        tr.headerRow th {
        background: #f2f3f3;
        border-width: 0 0 1px 1px;
        border-color: #e0e3e5;
        color: #000;
        font-size: .9em;
        font-weight: bold;
        padding: 5px 2px 4px 5px;
        }
        th {
        color: #305CA7 !important;
        border: none;
        } 
        .pbBody{
        max-height:400px;
        overflow-y:auto;
        } 
        .fieldSi{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .fieldSi1, .lookupInput>input{
        
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        
        .lookupInput>input, .inputStyls>input,.inputStyls select{
        
        width: 97%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .lookupInput>a{
        width: 3%;
        }
        
        