
            body button,
            body .x-btn,
            body .btn,
            body .btnDisabled,
            body .btnCancel,
            body .menuButton .menuButtonButton {
                color: #333;
                margin: 1px;
                padding: 2px 3px;
                //border: 1px solid #b5b5b5;
                //border-bottom-color: white;
                background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
                font-weight: bold;
                font-size: .9em;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
            .heading {
                font-size: 22px;
                font-family: arial;
                margin-top: 25px;
                margin-bottom: 5px;
                color: #000;
            }
            .linecolor {
                border-top: 2px solid #B7A752;
                border-radius: 2px;
            }
            .backcolor {
                background-color: #f8f8f8;
                border-radius: 2px;
            }
            .nopad {
                padding: 0px;
            }
            .SubheadingLeft {
                margin-top: 15px;
                //margin-left: 55px;
                word-wrap: break-word;
               padding-right:0px;
            }
            .fontsizer {
                font-size: 12px;
                font-weight: 600px;
            }
            .picklistsize {
                width: 300px;
                display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
            
            
      .lookupInput>input, .inputStyls>input,.inputStyls select{
    
        width: 97%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     }
     .lookupInput>a{
      width: 3%;
     }
        
            
            .btn {
                min-width: 60px;
                font-family: 'proxima_nova_rgbold';
                font-size: 16px;
                color: #fff !important;
                margin-right: 10px !important;
                text-decoration: none;
                border-radius: 2px;
                line-height: 1.2;
                background: #1797c0 !important;
                border: 1px solid #027fbb;
                padding: 8px 16px 8px 16px;
                background: #0577b5 !important;
    font-family: 'Myriad Pro';
    font-size: 15px;
    margin-top: 0px;
    font-weight: bold;
    color: #fff !important;
    //border: 1px solid #0577b5 !important;
    border-radius: 4px !important;
    margin-right: 20px;
    padding: 6px 16px !important;
    height:36px;
            }
            .cancelbtn {
                min-width: 60px;
                font-family: 'proxima_nova_rgbold';
                font-size: 16px;
                color: #fff !important;
                margin-right: 10px !important;
                text-decoration: none;
                border-radius: 2px;
                line-height: 1.2;
                background: #8f8f8f !important;
                border: 1px solid #027fbb;
                padding: 8px 16px 8px 16px;
            }
            @media (min-width: 1200px){
                .col-lg-9 {
                width: 80%;
                }
            }
        